.filters {
	.filter-selected {
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		height: 100%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin: 0 auto;
		padding: 0;
		position: relative;

		li {
			background-color: #333333;
			border-radius: 5px;
			color: orange;
			list-style: none;
			margin: 0 5px;
			padding: 5px;
			min-width: 50px;

			.item {
				font-size: 1rem;

				.item {
					font-size: 1rem;
				}
			}

			.delete {
				padding: 5px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
